.form__fieldset {
  display: flex;
  flex-direction: column;
  max-width: 385px;
  border: 0;
  padding: 0;
}

.form__label {
  margin-bottom: 8px;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #000;
}

.form__input {
  border: 1px solid #838383;
  border-radius: 4px;
  margin-bottom: 32px;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #000;
  padding: 15px 20px;
  width: 385px;
}

.form__input {
  color: #838383;
  box-sizing: border-box;
}
.form__input[type="text"],
.form__input[type="number"],
.form__input[type="datetime-local"],
.form__input[type="email"] {
}
.form__terms {
  margin: 0 auto 0;
  display: flex;
}

.form__button {
  border-radius: 4px;
  background: #1878dc;
  transition: background 1s linear;
  padding: 20px 0;
  margin-bottom: 32px;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #fff;
  border: 0;
}

.form__button:hover {
  background: #3f96f3;
}

.form__checkbox {
  border-radius: 2px;
  width: 20px;
  height: 20px;
  margin-right: 12px;
  background-color: #1878dc;
  background-image: url(../images/check.svg);
}

.form__label_type_checkbox {
  margin: 0;
  display: flex;
  align-items: center;
}
