.nav {
  display: flex;
  justify-content: space-between;
}

.nav__logo {
  margin: 0 0 0 -30px;
  width: 105px;
  height: 39px;
}

.nav__links {
  list-style: none;
  display: flex;
  margin: 0;
  gap: 20px;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.nav__link {
  transition: opacity 0.2s linear;
  text-decoration: none;
  color: #000;
}

.nav__link:hover {
  opacity: 50%;
}
